<div class="container">
    <div class="center">
        <h1>Very cool frontpage</h1>
        
        <a href="/login">
            <input class="button" type="button" value="Login"></input>
        </a>

        <a href="/register">
            <input class="button" type="button" value="Opret bruger"></input>
        </a>
    </div>
</div>
