<div class="container">
    <div class="center">
        <h1>Login</h1>

        <div class="login">    
            <form id="loginForm" method="get" action="/loginVerify">
                <input type="text" name="username" id="username" placeholder="Brugernavn">
                <br>
                <input type="Password" name="password" id="password" placeholder="Adgangskode">
                <br>
                <button type="Submit" name="login" id="login" value="Login">Login</button>
            </form>
        </div>  
        <a href="/register">
            <button>Register</button>
        </a>
    </div>
</div>
