<div class="container">
    <div class="center">
        <h1>Register</h1>
        <div class="login">    
            <form id="loginForm" method="get" action="/registerVerify">
                <input type="text" name="username" id="username" placeholder="Brugernavn">
                <br>
                <input type="text" name="email" id="email" placeholder="Email">
                <br>
                <input type="Password" name="password" id="password" placeholder="Adgangskode">
                <br>
                <input type="Password" name="confirmPassword" id="confirmPassword" placeholder="Bekræft Adgangskode">
                <br>
                
                <button type="Submit" name="opret" id="opret" value="Opret">Register</button>
            </form>
        </div>
        <a href="/login">
            <button type="button" id="login">Login</button>
        </a>  
    </div>
</div>